@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1b1919;
  --primary: #222121;
  --primaryDark: #201e1e;
  --border-primary: #383838;
  --text-primary: #ffffff;
  --text-primary--light: #737373;
  --text-secondary: #000000;
  --accent: #E9204B;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1919;
    --text-primary: #ffffff;
    --text-primary--light: #737373;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .scrollbar-slim::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar-slim::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-slim::-webkit-scrollbar-thumb {
    background-color: #88888886;
    border-radius: 10px; /* Increase the value for more rounding */
    border: 2px solid transparent; /* Optional: adds spacing around the thumb */
    background-clip: padding-box; /* Ensures proper rendering */
  }

  .scrollbar-slim::-webkit-scrollbar-button {
    display: none;
  }
}